<%
# Saltstorm - Fun-Money Betting on the Web
# Copyright (C) 2013  Dustin Leavins
#
# Full license can be found in 'LICENSE.txt'
%>
<div class='page-header'>
  <h1><%= titleize('Account') %></h1>
  <p><%= @site_description %></p>
</div>
<div class='row col-md-12'>
  <h2>Change Password</h2>
</div>
<% if (flash[:password]) %>
<div class='row col-md-12'>
  <% if (flash[:password][:error]) %>
    <div class='alert alert-danger'>Invalid Password</div>
  <% elsif (flash[:password][:success]) %>
  <div class='alert alert-success'>Successfully Changed Password</div>
  <% end %>
</div>
<% end %>
<form action='/account/password' method='post' name='pwForm'>
  <div class='form-group' ng-class='{"has-error": pwForm.password.$invalid}'>
    <p>
      <label for='password' >New Password</label>
      <input type='password' name='password' autocapitalize='off' class='form-control'
             required
             ng-model='newPassword' />
    </p>
  </div>

  <div class='form-group' ng-class='{"has-error": pwForm.confirm_password.$invalid}'>
    <p>
      <label for='confirm_password' >Confirm New Password</label>
      <input type='password' name='confirm_password' autocapitalize='off' class='form-control'
             required
             ng-model='confirmPassword' />
    </p>
  </div>
  <p>
    <button type="submit" class="btn btn-default">Change Password</button>
  </p>
</form>
<div class='row col-md-12'>
  <h2>Change Account Info</h2>
</div>
<% if (flash[:info]) %>
<div class='row col-md-12'>
  <% if (flash[:info][:error]) %>
  <div class='alert alert-danger'>
    <% if (flash[:info][:error][:password]) %><p>Incorrect Password</p><% end %>
    <% if (flash[:info][:error][:email]) %><p>Invalid e-mail</p><% end %>
    <% if (flash[:info][:error][:display_name]) %><p>Invalid display name</p><% end %>
    <% if (flash[:info][:error][:post_url]) %><p>Invalid URL</p><% end %>
  </div>
  <% elsif (flash[:info][:success]) %>
  <div class='alert alert-success'>Successfully Changed Info</div>
  <% end %>
</div>
<% end %>

<form action='/account/info' method='post' name='infoForm'>
  <div class='form-group' ng-class='{"has-error": infoForm.password.$invalid}'>
    <p>
      <label for='password' >Current Password</label>
      <input type='password' name='password' autocapitalize='off' class='form-control'
             required
             ng-model='currentPassword' />
    </p>
  </div>
  <p>Current E-mail: <%= @original[:email] %></p>
  <div class='form-group' ng-class='{"has-error": infoForm.email.$invalid}'>
    <p>
      <label for='email'>New E-Mail Address</label>
      <input type='text' name='email' autocapitalize='off' class='form-control'
             ng-model='email' ng-init='email = "<%= @current[:email] %>"' 
             required />
    </p>
  </div>
  <p>Current Display Name: <%= @original[:display_name] %></p>
  <div class='form-group' ng-class='{"has-error": infoForm.display_name.$invalid}'>
    <p>
      <label for='display_name'>Name to display</label>
      <input type='text' name='display_name' autocapitalize='off' class='form-control'
             ng-model='displayName' ng-init='displayName = "<%= @current[:display_name] %>"'
             required />
    </p>
  </div>
  <p>Current notification URL: <%= @original[:post_url] %></p>
  <div class='form-group' ng-class='{"has-error": infoForm.post_url.$invalid}'>
    <p>
      <label for='post_url'>Notification URL</label>
      <input type='text' name='post_url' autocapitalize='off' class='form-control'
             ng-model='postUrl' ng-init='postUrl = "<%= @current[:post_url] %>"' />
    </p>
  </div>
  <p>
    <button type="submit" class="btn btn-default">Update Info</button>
  </p>
</form>
<div class='row col-md-12'>
  <p class='text-center'><a class='btn btn-default' href='/main'>Main</a></p>
</div>

