<nav class='navbar navbar-default' role='navigation'>
  <div class='navbar-header'>
    <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-ex1-collapse'>
      <span class='sr-only'>Toggle navigation</span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
    </button>
    <a class='navbar-brand' href='#'><%= titleize() %></a>
    <p class='navbar-text'>Logged-in as {{ account.displayName }}</p>
  </div>
  <div class='collapse navbar-collapse navbar-ex1-collapse'>
    <ul class='nav navbar-nav navbar-right'>
      <li ng-show='!mobile && !showBettors'><a ng-click='showBettors = true'>Show Bettors</a></li>
      <li ng-show='!mobile && showBettors'><a ng-click='showBettors = false'>Show Main</a></li>
      <li ng-show='!mobile'><a href='<%= base_url('/main_mobile') %>'>Switch to Mobile</a></li>
      <li ng-show='mobile'><a href='<%= base_url('/main') %>'>Switch to Full</a></li>
      <li><a href='<%= base_url('/payments') %>'>Buy Stuff</a></li>
      <li><a href='<%= base_url('/account/') %>'>Account</a></li>
      <li><a href='<%= base_url('/logout') %>'>Logout</a></li>
    </ul>
  </div>
</nav>
